/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

1. Main Layout
2. Content

==============================================
*/
/* 1. Main Layout ================================= */
* {
  box-sizing: border-box; }


html, body {
  width: 100%;
  height: 100%;
  background: #EBEBEB;
}

body {
  font-family: Montserat, arial, sans-serif;
  color: #515151;
  text-rendering: optimizeLegibility;           /*changes spacing, makes it easier to read*/
  -webkit-font-smoothing: antialiased;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: inherit;
}

/*///////////PROJECT STUFF//////////*/

.bridge figure {background-image: url(../img/bridge.png);}
.woman figure {background-image: url(../img/woman.png);}

.hidden-nav {
  display: none;
}

.nav {
	display: flex;
	background-color: #383C3F;
	color: #EBEBEB;
  align-content: center;
  height: 37px;
  align-items: center;
  padding-left: 20px;
}

.hamburger{
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:5px 15px 0px 15px;
  color:#EBEBEB;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross{
  background:none;
  position:absolute;
  top:0px;
  right:0;
  padding:7px 15px 0px 15px;
  color:#EBEBEB;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.menu {
  z-index:1000000;
  font-weight: bold;
  font-size: 0.8em;
  width:100%;
  background: #383C3F;
  position:absolute;
  text-align:center;
  font-size:12px;
}

.menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none;
}

.menu li {
  display: block;   
  padding: 15px 0 15px 0; 
  border-bottom:#dddddd 1px solid;
}

.menu li:hover{
  display: block;   
  background: #EBEBEB;
  padding: 15px 0 15px 0;
  border-bottom: #EBEBEB 1px solid;
}

.menu ul li a {
  text-decoration: none; 
  margin: 0px;
  color:#383C3F;
}

.menu ul li a:hover {
  color: #383C3F;
  text-decoration:none;
}

.menu a {
  text-decoration: none;
  color: #EBEBEB;
}

.menu a:hover {
  text-decoration: none;
  color:#383C3F; }

.glyphicon-home{
  color:white; 
  font-size:1.5em; 
  margin-top:5px; 
  margin:0 auto;
}

.hero {
  display: flex;
  flex-direction: column;
  background-color: #1B96AC;
  color: white;
  height: 175px;
  padding-left: 25px;
}

.hero h1 {
  padding-top: 58px;
  padding-bottom: 15px;
  font-size: 1.5em;
  padding-right: 40px;
}

.hero-subtitel {
  display: flex;
  flex-direction: row;
}


.hero p {
  font-size: .7em;
  opacity: .7;
}

.hero span {
  margin-left: 50%;
}

.robin-hood {
  display: flex;
  flex-direction: row;
  height: 76px;
}

.robin-hood-paragraph {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #27212C;
  color: #9B8BA9;
  padding-left: 25px;
  font-size: .8em;
  width: 76.5625%;
}

.robin-hood-paragraph p {
  justify-content: flex-start;
  align-items: center;
}

.robin-hood-span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #BA3683;
  color: white;
  font-size: 2em;
  width: 23.4375%;
}

.robin-hood-paragraph span {
  justify-content: center;
  align-items: center;
}

.opening-tag {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 275px;
  background-color: #5B1C9F;
  color: white;
}

.opening-tag span {
  justify-content: center;
  align-items: center;
  font-size: 5em;
}

.bridge figure, .woman figure {
  display: flex;
  height: 275px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.blaz-robar {
  display: flex;
  height: 450px;
  background-color: #EBEBEB;
  padding-left: 40px;
  flex-direction: column;
}

.blaz-robar h2 {
  color: #198CA3;
  margin-top: 35px;
  margin-bottom: 25px;
  font-size: 1.8em;
}

.blaz-robar .blaz-robar-paragraph-shown {
  line-height: 1.5em;
}

.blaz-robar .blaz-robar-paragraph-hidden {
  display: none;
}


@media screen and (min-width: 980px) {

  .nav {
    display: none;
  }

  .hidden-nav {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    background-color: #383C3F;
    color: #EBEBEB;
    height: 100px;
    align-items: center;
    padding-left: 55px;
  }

  .hidden-nav ul {
    display: inline-flex;
  }

  .hidden-nav ul li {
    text-transform: uppercase;
    padding-right: 30px;
  }

  .hidden-nav ul li a {
  }

  .hero {
  display: flex;
  flex-direction: column;
  background-color: #1B96AC;
  color: white;
  height: 550px;
  padding-left: 80px;
  }

  .hero h1 {
    padding-top: 190px;
    padding-bottom: 50px;
    font-size: 4em;
  }

  .hero-subtitel {
    display: flex;
    flex-direction: row;
  }

  .hero p {
    font-size: 2em;
    opacity: .7;

  }

  .hero span {
    font-size: 4em;
}

.robin-hood {
  display: flex;
  flex-direction: row;
  height: 235px;
}

.robin-hood-paragraph {
  padding-left: 80px;
  font-size: 2em;
  width: 77.5510204081633%;
}

.robin-hood-span {
  font-size: 4em;
  width: 22.4489795918367%;
}

.three-images {
  display: flex;
  flex-direction: row;
  height: 282px;
  width:100%;
}

.bridge, .woman  {
  width: 33.33%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.opening-tag {
  align-items: center;
  width: 33.33%;
  background-color: #5B1C9F;
  color: white;
}

.opening-tag span {
  justify-content: center;
  align-items: center;
  font-size: 5em;
}



.blaz-robar {
  display: flex;
  height: 450px;
  background-color: #EBEBEB;
  padding-left: 40px;
  flex-direction: column;
}

.blaz-robar h2 {
  color: #198CA3;
  margin-top: 35px;
  margin-bottom: 25px;
  font-size: 1.8em;
}

.paragraphs {
  display: flex;
  flex-direction: row;

}

.blaz-robar .blaz-robar-paragraph-shown {
  display: flex;
  flex-direction: row;
  line-height: 1.5em;
  padding-right: 5%;
}

.blaz-robar .blaz-robar-paragraph-hidden {
  display: flex;
  flex-direction: row;
  line-height: 1.5em;
  padding-right: 40px;
}




}

